#selectionCanvas {
    position: absolute;
    left: 10px;
}

#otherCanvas,
#drawingCanvas {
    position: absolute;
    right: 10px;
}

#buttons {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 100px;
}

#buttons .button {
    margin: 10px;
}